body {
  background: #222;
  font-family: Helvetica, Open Sans, sans-serif;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.btn {
  background: #444;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}

.btn--small {
  font-size: 1.3rem;
  padding: 0.8rem;
}

.main {
  flex: 1;
  padding: 2rem;
}

.foot {
  padding: 2rem;
}
